body {
   background-color: #1E1E1E;
   font-family: Bebas Neue, sans-serif;
   margin: 0; 
}

.StatsBox {
   background-color: #f5f5f5;  
   color: #1E1E1E;            
   padding: 0 20px;           
   font-size: 24px;           
   font-weight: bold;        
   border-radius: 5px;          
   margin: 20px auto;          
   max-width: 1400px;
   height: 65px;  
   top: 50px;    
   display: flex; /* Flexbox layout for inline-like behavior */
   align-items: center; /* Vertically aligns text */
   justify-content: space-between; /* Optional: space out text if needed */
}

.inline-text {
   display: inline-block;
}