body {
   background-color: #1E1E1E;
   font-family: Bebas Neue, sans-serif;
   margin: 0; 
}

.StatsBox {
   position: relative;       
   text-align: center;
   justify-content: center;
   border-radius: 5px;       
   width: 96.5%;              
   padding: 20px;             
   background-color: #ECEEE8;
   box-shadow: 0 6px 10px #041025;
   margin: 10px auto; 
}

.inline-text {
   display: inline-block;
}