.PAstats-home {
   background-color: #1E1E1E;
   margin: 0; 
   font-family: 'Trebuchet MS', sans-serif;
   font-weight: bold;
   padding: 5px;
}

.StatsBox {
   position: relative;
   text-align: center;
   justify-content: center;
   border-radius: 5px; 
   width: 100%;
   padding: 10px;
   background-color: #ECEEE8;
}

.inline-text {
   display: inline-block;
}