.dm-sect{
  font-family: 'Cinzel', serif;
  background: url('../woods.jpeg');
  font-weight: bold;
  width: 100vw;
  height: 100vh; 
  overflow: hidden;
}

.headerBox {
   color: #1E1E1E; 
   position: fixed;           
   padding: 0 20px;         
   text-align: center;  
   font-size: 24px;                  
   border-radius: 2px;          
   margin: 20px auto;          
   max-width: 1400px;
   height: 65px;  
   justify-content: center; 
   align-items: center;      
   display: flex;            
   box-sizing: border-box;  
   overflow: hidden;          
}

.headerBox {
   position: relative;
   text-align: center;
   justify-content: center;
   border-radius: 2px; 
   width: 100%;
   padding: 10px;
   background-color: #ECEEE8;
 }
 
 .dmmenu-container {
   position: absolute;
   top: 10px; 
   left: 10px;
 }
 
 .dmmenu-button {
  width: 80px;            
  height: 50px;                  
  background: url('../compass.png') center / contain no-repeat;
  background-color: transparent; 
  border: none;
  cursor: pointer;  
 } 
 
 .dmmenu-content {
  position: fixed;
  top: 0;
  left: 0;
  width: 13vw;
  height: 100vh;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
  background: url('../dragon.jpg') center / cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
 }
 
 .dmmenu-content ul {
   list-style-type: none;
   padding: 0;
   text-align: center;
 }
 
 .dmmenu-content ul li, .button {
   padding: 20px;
 }
 
 .dmmenu-content ul li a, .button {
   color: #ECEEE8;
   font-size: 24px;
   text-decoration: none;
 }
 
 .dmmenu-container:hover .dmmenu-content {
   transform: translateX(0);
 }

 .dmglow-text {
  display: inline-block;
}

.dmglow-text span {
  transition: color 0.3s ease, text-shadow 0.3s ease;
}

.dmglow-text span:hover {
  color: #00025d; 
  text-shadow: 
    0 0 2px #00025d, 
    0 0 4px #00025d; 
}