body {
  background: url('../woods.jpeg');
}

.PAHome-section {
  justify-content: center;
  align-items: center;
  padding: 20px;
  overflow: hidden;
}

.player-sect {
  font-family: 'Cinzel', serif;
  background: url('../woods.jpeg');
  font-weight: bold;
  width: 100vw;
  height: 100vh; 
  overflow: hidden;
}

.headerBox {
  position: relative;
  text-align: center;
  justify-content: center;
  border-radius: 2px; 
  width: 100%;
  padding: 10px;
  color: #fff;
  background: linear-gradient(-45deg, #303e7a, #0b034f, #fcfcfc, #0b4f93);
  background-size: 400% 400%;
  animation: gradientAnimation 15s ease infinite;
}

@keyframes gradientAnimation {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.menu-container {
  position: absolute;
  top: 10px; 
  left: 10px;
}

.menu-button {
  width: 80px;            
  height: 50px;                  
  background: url('../compass.png') center / contain no-repeat;
  background-color: transparent; 
  border: none;
  cursor: pointer;  
}

.menu-content {
  position: fixed;
  top: 0;
  left: 0;
  width: 13vw;
  height: 100vh;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
  background: url('../dragon.jpg') center / cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.menu-content ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
}

.menu-content ul li, .button {
  padding: 20px;
}

.menu-content ul li a, .button {
  color: #ECEEE8;
  font-size: 24px;
  text-decoration: none;
}

.menu-container:hover .menu-content {
  transform: translateX(0);
}

h1 {
  font-size: 2rem;
  align-self: center;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  color: #ECEEE8;
  background-color: #4CAF50;
  border-radius: 5px;
  text-decoration: none;
}

 .menu-content ul li a, .msgButton {
  color: #ECEEE8;
  font-size: 24px;
  text-decoration: none;
}
.glow-text {
  display: inline-block;
}

.glow-text span {
  transition: color 0.3s ease, text-shadow 0.3s ease;
}

.glow-text span:hover {
  color: #00025d; 
  text-shadow: 
    0 0 2px #00025d, 
    0 0 4px #00025d; 
}
