body {
   background-color: #1E1E1E;
   font-family: 'Trebuchet MS', sans-serif;
      margin: 0; 
}

.EnemyheaderBox {
   background-color: #ECEEE8;  
   color: #1E1E1E; 
   position: fixed;           
   padding: 0 20px;         
   text-align: center;  
   font-size: 24px;           
   font-weight: bold;        
   border-radius: 5px;          
   margin: 20px auto;          
   max-width: 1400px;
   height: 65px;  
   justify-content: center; 
   align-items: center;      
   display: flex;            
   box-sizing: border-box;  
   overflow: hidden;          
}

.headerBox {
   position: relative;
   text-align: center;
   justify-content: center;
   border-radius: 5px; 
   width: 100%;
   padding: 10px;
   background-color: #ECEEE8;
 }
 
 