.about-container {
  padding: 2rem;
  background-color: #161314;
  height: 100vh;
  color: white; 
}

h1 {
  font-size: 2.5rem;
  color: #eceee8; 
  text-align: center;
  margin-bottom: 1.5rem;
}

p {
  font-size: 1.1rem;
  color: #eceee8; 
  line-height: 1.6;
  margin-bottom: 1.5rem;
}

.mission, .team, .contact {
  margin-top: 2rem;
}

h2 {
  font-size: 2rem;
  color: #eceee8;
  margin-bottom: 1rem;
  border-bottom: 2px solid #ab5555;
  padding-bottom: 0.5rem;
}


