.hero-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #161314;
  padding: 1rem;
  text-align: center;
  color: white;
  position: relative;
  overflow: hidden;
}

.hero-section::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: 
    linear-gradient(153deg, #683434 25%, transparent 25%),
    linear-gradient(206deg, #ab5555 25%, transparent 25%);
  background-size: 60px 60px;
  animation: scaleShimmer 3s infinite linear;
  opacity: 0.3;
}

@keyframes scaleShimmer {
  0% {
    background-position: 0 0, 0 0;
  }
  100% {
    background-position: 0 60px, 0 60px;
  }
}

.hero-section > * {
  position: relative;
  z-index: 1;
}

.hero-content {
  max-width: 800px;
  background-color: #161314; 
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px 5px #eceee8; /* Initial glowing effect */
  animation: breathingGlow 6s infinite ease-in-out;
}

@keyframes breathingGlow {
  0%, 100% {
    box-shadow: 0 0 10px 5px #eceee8; /* Initial glow */
  }
  50% {
    box-shadow: 0 0 30px 15px #eceee8; /* Increased glow */
  }
}

.hero-input {
  width: 100%; /* Make the input take the full width */
  height: 50px; /* Set a larger height */
  font-size: 18px; /* Increase font size for better readability */
  padding: 10px; /* Add some padding inside the input */
  margin: 20px 0; /* Add margin for spacing */
  border: 1px solid white; /* White border for visibility */
  border-radius: 5px; /* Rounded corners */
  background-color: #333; /* Dark background for the input */
  color: white; /* Text color inside the input */
}

.hero-content h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.hero-content p {
  font-size: 1.25rem;
  margin-bottom: 2rem;
}

.hero-button {
  flex: 1;
  font-size: 16px; 
  padding: 10px 20px;
  color: white;
  background-color: #4b0f04;
  margin-top: 5px;
  border: none;
  border-radius: 5px;
  max-width: 400px;
  display: block; 
  cursor: pointer;
  transition: color 0.3s ease;
}


.hero-button:hover {
  box-shadow: 0 0 5px 5px #eceee8; /* Glowing effect */
}
