body {
   background-color: #1E1E1E;
   font-family: Bebas Neue, sans-serif;
      margin: 0; 
}

.CBheaderBox {
   background-color: #f5f5f5;  
   color: #1E1E1E;            
   padding: 0 20px;         
   text-align: center;  
   font-size: 24px;           
   font-weight: bold;        
   border-radius: 5px;          
   margin: 20px auto;          
   max-width: 1400px;
   height: 65px;  
   justify-content: center; 
   align-items: center;      
   display: flex;            
   box-sizing: border-box;  
   overflow: hidden;          
}
