body {
   background-color: #1E1E1E;
   font-family: 'Trebuchet MS', sans-serif;
   font-weight: bold;
   margin: 0; 
}

.PASavingBox {
   background-image: url('../scroll2.jpg');
   background-size: cover;
   background-repeat: no-repeat; 
   background-position: center;  
   color: #1E1E1E;            
   padding: 20px;              
   text-align: left;           
   border-radius: 5px;         
   position: fixed;
   bottom: 225px;
   left: 20px;
   width: 46%;
   height: 300px;
   margin: 0;
}