.actions-container {
   display: flex;
   flex-direction: column;
   align-items: center; 
   text-align: center;
   background: radial-gradient(circle, #b0b0b0, #2c2c2c);
   font-family: 'Cinzel', serif; /* Add this line */
}

.actions-container h1, h2 {
   text-align: center;
   margin-bottom: 20px;
   font-size: 1.5em;
   color: #ffff;
   font-family: 'Cinzel', serif; /* Add this line */
}

.actions-container ul {
   list-style-type: none;
   padding: 0; 
   color: #ffff;
   font-family: 'Cinzel', serif; /* Add this line */
}  

.actions-container li {
   display: flex;
   justify-content: space-between; 
   padding: 10px;
   gap: 10px;
   color: #ffff;
   border-bottom: 1px solid #ecf0f1;
   font-family: 'Cinzel', serif; /* Add this line */
}
