.PAstats-home {
  margin: 0 auto;
  padding: 5px;
  width: 1410px;
}

.StatsBox {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  border-radius: 2px;
  background-color: #ECEEE8;
  font-family: 'Cinzel', serif;
}

.inline-text {
  display: inline-block;
  margin: 0 10px;
}
