.PAHome-section {
   padding: 20px;
   display: flex;
   justify-content: center;
   align-items: center;
 }
 
 .headerBox {
   position: relative;
   text-align: center;
   width: 100%;
   padding: 20px;
   background-color: #f9f9f9;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
 }
 
 /* Sliding menu setup */
 .menu-container {
   position: absolute;
   top: 10px; /* Positioning it above the header */
   left: 10px;
 }
 
 .menu-button {
   font-size: 30px;
   background-color: transparent;
   border: none;
   cursor: pointer;
   padding: 10px;
 }
 
 .menu-content {
   position: fixed; 
   top: 0;
   left: 0;
   height: 100vh;
   width: 13vw; 
   transform: translateX(-100%);
   transition: transform 0.3s ease;
   background-color: #041025cb;
   display: flex;
   justify-content: center;
   align-items: center;
   z-index: 100;
 }
 
 .menu-content ul {
   list-style-type: none;
   padding: 0;
   text-align: center;
 }
 
 .menu-content ul li {
   padding: 20px;
 }
 
 .menu-content ul li a {
   color: white;
   font-size: 24px;
   text-decoration: none;
 }
 
 /* Show menu on hover */
 .menu-container:hover .menu-content {
   transform: translateX(0);
 }
 
 h1 {
   margin: 20px 0 0 0;
   font-size: 2rem;
 }
 
 .button {
   text-decoration: none;
   padding: 10px 20px;
   background-color: #4CAF50;
   color: white;
   border-radius: 5px;
 }
 