.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #161314;
  padding: 1rem;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #eceee8;
}

.nav-links {
  display: flex;
  gap: 2rem;
  color: #eceee8;
}