.footer {
  background-color: #161314;
  color: white;
  padding: 1rem;
}

.footerContent {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.footerLeft h4 {
  margin-bottom: 0.5rem;
}

.footerLeft p {
  font-size: 0.875rem;
  color: #aaa;
}


.footerRight p {
  font-size: 0.875rem;
  color: #aaa;
}
