.MapsBox {
   background-image: url('../scroll2.jpg');
   font-family: 'Cinzel', serif;
   background-size: cover;
   background-repeat: no-repeat; 
   background-position: center; 
   width: 31%; 
   height: 40%;
   position: fixed;
   transform: translateX(-50%);
   top: 20%; 
   left: 18%;
   color: #1E1E1E;            
   padding: 20px;              
   text-align: center; 
   font-size: 24px;           
   font-weight: bold; 
   border-radius: 2px;         
   margin: 0;
   overflow: hidden;
   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

.scrollable-content {
   max-height: 80%;
   overflow-y: auto; 
   padding-top: 10px;
   font-size: 20px;
}
