.inventory-container {
   display: flex;
   flex-direction: column;
   align-items: center; 
   text-align: center;
   background-color: #d6ac72;
}

.inventory-container h1, h2 , p {
   text-align: center;
   margin-bottom: 20px;
   font-size: 1.5em;
   color: #ffff;
}

.inventory-container ul {
   list-style-type: none;
   padding: 0; 
   color: #ffff;
}  

.inventory-container li {
   display: flex;
   justify-content: space-between; 
   padding: 10px;
   gap: 10px;
   color: #ffff;
   border-bottom: 1px solid #ecf0f1;
}
