body {
  background: url('./woods.jpeg') no-repeat center center fixed;
  background-size: cover;
}

.combats-container {
  display: flex;
  flex-direction: column;
  background-color: rgba(44, 62, 80, 0.8); /* Optional: semi-transparent overlay */
  min-height: 100vh; 
}

.throws, .skills-section {
  display: ruby;
  padding: 16px;
  margin: 10px 0;
  border: 1px solid #34495e;
  border-radius: 8px;
  background-color: rgba(44, 62, 80, 0.8); /* Optional: semi-transparent overlay */
  transition: background-color 0.3s ease;
  text-align: center;
}

.top-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(44, 62, 80, 0.8); /* Optional: semi-transparent overlay */
}

.actions {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}