body {
   background-color: #1E1E1E;
   font-family: Bebas Neue, sans-serif;
      margin: 0; 
}

.ButtonsBox {
   background-color: #ECEEE8; 
   color: #1E1E1E;            
   padding: 20px;              
   text-align: center; 
   font-size: 24px;           
   font-weight: bold; 
   border-radius: 5px;         
   position: fixed;
   bottom: 10px;
   left: 20px;
   width: 31%;
   height: 85%;
   margin: 0;
   overflow-y: auto;
   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

.button {
   color: #6e6e6e;      
   padding: 15px 24px;     
   font-size: 20px;     
   display: block;  
   border: none;   
   border-radius: 5px;      
   cursor: pointer;         
   transition: color 0.3s ease; 
   text-decoration: none;
}

.ButtonsBox .button-container {
   text-align: left;
}

.button:hover {
   color: #000000;
}